/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v49-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v49-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #060D10;
}

.container {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid #f00;
}

/* header */

.header {
  background-color: #66D1FF;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  font-family: 'Montserrat', sans-serif; /* почему без - Arial ? */
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  border-radius: 4px;
}

.tel {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  padding: 39px 0;
  text-decoration: none;
  color: #060D10;
}

/* promo */

.promo {
  color: #fff;
  text-shadow: 1px 1px 2px #060D10;
  text-align: center;
  background-color: #66D1FF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); /* почему не видна */
  background-image: url(../imgs/bg-promo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.promo-fade {
  padding: 240px 0 260px;
  background-color: rgba(6, 13, 16, 0.25);
}

.promo-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
}

.promo-desc {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  padding: 109px 0;
}

/* about */

.about {
  padding: 170px 0;
  background-color: rgba(102, 209, 255, .1);
}

.about-text {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.about-wrap {
  flex-wrap: wrap;
  margin-top: 100px;
  border: 1px solid #f00;
}

.about-card {
  display: block;
  flex-basis: 33,33%;
  border: 1px solid #f00;
}

.about-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
  text-transform: uppercase;
}

.about-desc {
  margin-bottom: 0;
  font-size: 26px;
  line-height: 36px;
  opacity: .8;
}

/* lead */

/* градиент
.lead {
  background-color: #66D1FF либо rgba(102, 209, 255, .1);
}
*/

.lead-text {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.lead-btn {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.lead-gallery {
  padding: 0;
}

.gallery-img {
  width: 297px;
  height: 297px;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */

.footer {
  padding: 35px 0;
  color: #fff;
  background-color: #060D10;
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
}

.icon-twitter {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../imgs/icon-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-in {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../imgs/icon-in.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-google {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../imgs/icon-google.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-fb {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../imgs/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
