/* header */

.header-btn {
    font-size: 24px;
    line-height: 29px;
}

.header-phone {
    font-size: 28px;
    line-height: 34px;
}

/* promo */

.promo-title {
    font-size: 60px;
    line-height: 89px;
}

.promo-desc {
    font-size: 32px;
    line-height: 39px;
}

/* about */

.about-title {
    font-size: 48px;
    line-height: 80px;
}

.about-subtitle {
    font-size: 32px;
    line-height: 53px;
}

.about-desc {
    font-size: 26px;
    line-height: 36px;
}

/* lead */

.lead-title {
    font-size: 48px;
    line-height: 80px;
}

.lead-btn {
    font-size: 36px;
    line-height: 44px;
}

/* footer */

.footer-text {
    font-size: 20px;
    line-height: 33px;
}

.footer-copyr {
    font-size: 18px;
    line-height: 22px;
}